h1,h2,h3,h4,h5{
    font-family: 'Playfair+Display';


}

.contact{
     height:100%;
    width:100%;
    background-image: url(../images/landing6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color:black;
    opacity:0.9
}
.portfolio{
    height:100%;
    width:100%;
    background-image: url(../images/landing5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.members{
    height:100%;
    width:100%;
    background-image: url(../images/landing4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.about{
    height:100%;
    width:100%;
     background-image: url(../images/landing3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;

}
.containermain{
    height:100%;
    width:100%;
    background-color: black;

}

#landing{
     height:100%;
    max-width:1200px;
    background-color: black;
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
